<div class="col-xs-12" *ngFor="#projectRoot of workspaceRoot.projectRoots">
	<h1>{{projectRoot.name}}</h1>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Pisos</th>					
				<th *ngFor="#systemDir of projectRoot.targetDirectories[0].systemDirectories">{{systemDir.name}}<th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="#floor of createFloors(projectRoot.targetDirectories[0]); #p = index">
				<td>Piso {{p}}</td>
				<td *ngFor="#file of floor.files">
					<a (click)="runFile(file.path)">{{file.name}}</a>
				</td>
			</tr>
		</tbody>
	</table>

</div>
